@model SitioWeb.ViewModels.HomeViewModel

<h2>@Model.Titulo</h2>


@foreach (var moneda in Model.ListaMonedas)
{
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="@Model.ImagenMoneda" alt="">
            <div class="caption">
                <h3 class="pull-right">@moneda.IdentificadorMoneda</h3>
                <h3>
                    @moneda.IdentificadorMoneda
                </h3>
                <p>@moneda.Nombre</p>
            </div>
        </div>
    </div>

}

<select asp-for="ID"
        class="form-control"
        asp-items="@(new SelectList(@Model.ListaMonedas,"IdentificadorMoneda", "Nombre"))"></select>

